body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef2f3;
}

header {
  background-color: #ff5733;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
